# Added by Spec Kitty CLI (auto-managed)
.claude/
.codex/
.opencode/
.windsurf/
.gemini/
.cursor/
.qwen/
.kilocode/
.augment/
.roo/
.amazonq/
.agent/
.github/copilot/
.kittify/*
.gitnexus

#Ignore Surreals History File
history.txt

output_testing/*
target/*
/surreal_server/
surreal.db/*
